@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
       
header { width: 100%; height: 170px; background-color: white; margin: 0 auto; padding-top: 20px;}
#content{width: 1200px; height: 100%; margin:0 auto;}
.menu{width: 30%; height: 70px; float: left; margin: 50px 0 0;}
.logo {width: 40%;float: left; text-align: center;}
.log{width: 10%; height: 70px;  margin: 50px 0 0;float: right;}
#content img {vertical-align: middle;}
header a{text-decoration :none;color:black}

#f {display: flex; flex-direction: row; justify-content: space-around; margin: auto;}
footer{width: 100%; height: 498px; background-color: rgb(10, 20, 53); color: aliceblue;}
#fbox{width: 1200px;height: 100%; margin: 0 auto;}
footer ul{list-style-type: none}
.mbox{padding: 50px 10px 80px 50px;}
footer h5, footer h6{text-align: center; margin: auto; opacity: 0.8;}
h1{text-align: center; margin-top: 50px;}
footer li {color: aliceblue; display: block; margin: 20px;}
footer li a {text-decoration :none;color: aliceblue;}
    